body {
	background-color:#003366;
	font-family:Arial;
}

h1,h2,h3, button, div, p {margin:0;padding:0;}

h1 {
	color:#cccc99;
	float:left;
}
h2 {
	color:#99cc99;
	padding-top:6px;
	float:right;
	padding-left:12px;
}		

h3 {color:#f76c6c;}

.fl-left {
	float:left;
}

.fl-right {
	float:right;
}

.hidden {
	display:none;
}

#center-box {
	width:1024px;
	margin:24px auto;
}

header { 
	position:relative;
	width:800px; 
	margin-bottom:12px;
	overflow:hidden;
}

#maze-timer {
	position:absolute;
	left: 360px;
	color:#ffffff;
	width:80px;
	height:32px;
	border:2px solid #ffffff;
	background-color:rgba(125, 125, 125, 0.2);
}

#maze-timer p {
	font-size: 1.4em;
	font-weight: bold;
	text-align:center;
	line-height:32px;
}

#grid-dim {
	float:right; 
	color:white;
	margin-bottom:12px;
}

#maze-area {
	position:relative;
}

#maze-holder {
	clear:both;
	width:824px;
	height:624px;
}

#maze-win {
	position:absolute;
	top:12px;
	right:0;
	width:205px;
	color:#ccc;
	font-size:1.7em;
}

#maze-win image {
	display:block;
	float:left;
}

#maze-win p {
	float:right;
	margin: 10px 36px 0 0;
}

.maze-inst {
	position:absolute;
	width:180px;
	top:100px;
	right:0;
	margin-left:20px;
}

#maze-controls {
	position:absolute;
	width:180px;
	top:446px;
	right:0;
	margin-left:20px;
}

.maze-inst {
	color:#ccc;
	line-height:1.5em;
	margin-bottom:12px;
}

.maze-inst p {
	margin-bottom:16px;
}

.instr-hl {
	border:solid 1px #ccc;
	border-radius:4px;
	font-weight:bold;
	padding:2px 4px;
}

#maze-allowkeys {
	position:absolute;
	bottom:48px;
	width:180px;
	right:0;
	color:#ccc;	
}

.h2-btn {
	display:inline;
	-moz-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #4e6096;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
	margin-right:16px;
	cursor:pointer;	
}

.h2-btn:disabled {
	opacity:0.4;
	cursor:default;
}

.h2-btn:hover, .h3-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

.h3-btn {
	display:inline;
	-moz-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #4e6096;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
/*	font-weight:bold;	*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
	margin-right:16px;
	cursor:pointer;	
}

.myButton:active {
	position:relative;
	top:1px;
}

#bt-restart, #bt-timer, #bt-hdtimer {
	margin-top:12px;
}

#bt-restart.hidden {
	display:none;
}

#frame-top {
	clear:both;
	width:100%;
	height:12px;
	background-color:#ad7f48;
}

#frame-bottom {
	clear:both;
	margin-left:62px;
	height:12px;
	background-color:#ad7f48;
}

#frame-left {
	width:12px;
	height:600px;
	background-color:#ad7f48;
}

#frame-right {
	width:12px;
	margin-top:50px;
	height:550px;
	background-color:#ad7f48;
}

#maze-board {
	background-color:#cccccc;
	width:800px;
	height:600px;
}

#maze-board button {
	float:left;
	border:none;
	border-right:1pt rgba(0,0,255,0.1) solid;
	border-bottom:1pt rgba(0,0,255,0.1) solid;	
	cursor:pointer;
}

#maze-board .end-btn {
	background-image:url(../images/end_arrow.png);
	cursor:default;
}

#maze-board .start-btn {
	background-image:url(../images/start_arrow.png);
	cursor:default;
}

.game-block-lg {
	width:50px;
	height:50px;
	background:none;
}

.game-block-sm {
	width:25px;
	height:25px;
	background:none;
}

.green-lego {
	background-image:url(../images/green_lego.jpg);
	background-size:cover;
}

.has-ball {
	background-image:url(../images/green_ball.png);
	background-size:cover;
}

#maze-kbinfo {
	position:relative;
	margin-top:12px;
	width: 812px;
	height:36px;
}

#bt-shortcuts {
	float:right;
	margin-right:0;
}

#bt-close {
	float:right;
	margin-right:0;
}

#mzview-kbinfo {
	background-color:rgba(255, 255, 255, 0.45);
	margin-left:60px;
	padding:4px 8px;
	height: 1.75em;
	border-radius:5px;
}

#mzview-kbinfo p {
	float:left;
	font-size:.9em;
	line-height: 1.75em;
	margin-left:12px;
}

/* adjusting the focus rect to make it more visible */
*:focus {
  outline: #f5f500 solid 4px;
}
