body {
	background-color:#003366;
	font-family:Arial;
	margin:36px;
}

h1,h2,h3,button, div {margin:0;padding:0;}

header, #maze-instr, #maze-nav {
	width:800px;
}

h1 {
	color:#cccc99;
	margin-bottom:12px;
	float:left;
}
h2 {
	color:#99cc99;
	float:right;
	padding-top:6px;
	margin-bottom:12px;
}		
h3 {color:#f76c6c;}

.fl-left {
	float:left;
}

#maze-instr {
	clear:both;
	color:#ccc;
	line-height:1.5em;
}

#grid-dim {
	float:right; 
	color:white;
	margin-bottom:12px;
}

#maze-holder {
	clear:both;
	width:824px;
	height:624px;
}

#frame-top {
	clear:both;
	width:100%;
	height:12px;
	background-color:#ad7f48;
}

#frame-bottom {
	clear:both;
	margin-left:62px;
	height:12px;
	background-color:#ad7f48;
}

#frame-left {
	width:12px;
	height:600px;
	background-color:#ad7f48;
}

#frame-right {
	width:12px;
	margin-top:50px;
	height:550px;
	background-color:#ad7f48;
}

#maze-board {
	background-color:#cccccc;
	width:800px;
	height:600px;
}

#maze-board button {
	border:none;
	border-right:1pt rgba(0,0,255,0.1) solid;
	border-bottom:1pt rgba(0,0,255,0.1) solid;
	display:float;
	cursor:pointer;
}

#maze-board .end-btn {
	background-image:url(../images/end_arrow.png);
	cursor:default;
}

#maze-board .start-btn {
	background-image:url(../images/start_arrow.png);
	cursor:default;
}

.game-block-lg {
	width:50px;
	height:50px;
	background:none;
}

.game-block-sm {
	width:25px;
	height:25px;
	background:none;
}

.green-lego {
	background-image:url(../images/green_lego.jpg);
	background-size:cover;
}

/* adjusting the focus rect to make it more visible */
*:focus {
  outline: #f5f500 solid 4px;
}
